bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/.idea.LTH/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2020_17_04_[Default_Changelist]/shelved.patch
.idea/.idea.LTH/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2020_17_04__Default_Changelist_.xml
.idea/.idea.LTH/.idea/workspace.xml
.idea/.idea.LTH/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2020_17_04_[Default_Changelist]/shelved.patch
.idea/.idea.LTH/.idea/shelf/Uncommitted_changes_before_Update_at_12_10_2020_17_04_[Default_Changelist]/shelved.patch
.idea/.idea.LTH/.idea/workspace.xml
